<!DOCTYPE html>
<html lang="en">
<head> 

    <link rel="stylesheet" href="../static/styles.css">
    <meta charset="UTF-8">
    <title>Medical Data Server</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
   
  <div class="button-container">
  
    <form action="{{ url_for('routes.download_latest') }}">

        <button type="submit" class="button_1">
          <span class="button__text">Download Latest Report</span>
          <span class="button__icon">
            <ion-icon name="download-outline"></ion-icon>
          </span>
        </button>
        
    </form>

 
    <div class="container-">

   <label for="indicatorSelect">Select Indicator:</label>
    <select id="indicatorSelect">
        <option disabled selected>Loading...</option>
    </select>
  
    <canvas id="myChart" width="400" height="400"></canvas>

    </div>    
    
    <form action="{{ url_for('routes.list_reports') }}">

        <button type="submit" class="button_2">
         <span class="button__text_1">View All Reports</span>
         <span class="button__icon_1">
           <ion-icon name="eye-outline"></ion-icon>
         </span>
        </button>
         
    </form> 

 <div class="form-container">

    <form method="POST" action="{{ url_for('routes.upload_file') }}" enctype="multipart/form-data">
        <span>
          <ion-icon name="document-outline"></ion-icon>
          <input type="file" name="file" accept="application/pdf" class="icon-button" required>
        </span>
        
        
        <span>
        <label></label>
        <input type="submit" value="Upload">
        <ion-icon name="cloud-upload-outline"></ion-icon>
        </span>
    </form>

</div>

   </div>
   
    

 

    

    <br><br>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul style="color: red;">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <script src="../static/script.js"></script>
    
    <!--! Ionicons !-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!--! Ionicons !-->

</body>
</html>
